.h1 {
    font-size: 9vw;
    font-weight: 900;
    color: var(--color-white);
    line-height: 1;
}

.h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 1.1;

    @media only screen and (max-width: $bp-medium) {
        font-size: 4rem;

    }

    &--light {
        color: var(--color-grey-light);
    }
}

.h3 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 3rem;

    &--grey {
        color: var(--color-grey);
    }

    &--white {
        color: var(--color-white);
    }
}

.h4 {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 2.4rem;

    &--grey {
        color: var(--color-grey);
    }

    &--white {
        color: var(--color-white);
    }

    &--bold {
        font-weight: 700;
    }

}

.h5 {
    font-size: 12rem;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke-color: var(--color-green);
    -webkit-text-stroke-width: 4px;
    line-height: 1;
    transform: rotate(-90deg);

    @media only screen and (max-width: $bp-medium) {
        transform: rotate(0);
        font-size: 10rem;
    }
}

p {
    color: var(--color-grey);
    font-size: 1.7rem;
}

.p {
    &--black {
        font-weight: 900;
        font-size: 2rem;
        letter-spacing: .2rem;
    }

    &--i {
        font-style: italic;
    }

    &--grey-light {
        color: var(--color-grey-light);
    }

    &--green {
        color: var(--color-green);
    }

    &--white {
        color: var(--color-white);
    }

    &--grey {
        color: var(--color-grey);
    }

    &--noire {
        color: var(--color-black);
    }

    &--bold {
        font-size: 1.8rem;
        font-weight: 700;
    }

    &--litle {
        font-size: 1rem;
        font-weight: 700;
    }

    &--price {
        font-weight: 700;
        font-size: 3rem;
        letter-spacing: .2rem;
        color: var(--color-grey);
    }

    &--center {
        text-align: center;
    }
}

b {
    color: var(--color-black);
}