button {
    padding: 1rem 2rem;
    color: var(--color-white);
    background: var(--color-green);
    border-radius: 3px;
    border: none;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "Vollkorn", serif;
    letter-spacing: .1rem;
    box-shadow: var(--shadow-btn);
    transition: all .1s ease-in-out;
    cursor: pointer;
    outline: none;

    &:hover {
        transform: scale(1.02);
    }

    &:active {
        transform: translateY(.1rem);
    }

    & a,
    a:link,
    a:visited {
        text-decoration: none;
        color: var(--color-white);
        background: transparent;
        border-radius: 0;
    }

    & a:hover,
    a:active {
        background: transparent;
        color: var(--color-white);
    }
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: var(--color-green);
    font-size: 1.6rem;
    padding: .4rem 1rem;
    width: fit-content;
    background: var(--color-white);
    border-radius: 2px;
    transition: all .2s cubic-bezier(0.23, 1, 0.320, 1);
}

a:hover,
a:active {
    background: var(--color-green);
    color: var(--color-white);
}

.image-bg-clip {
    margin-left: var(--col-1);
    margin-right: var(--col-7);
    width: calc(var(--container) *1vw);
    margin-bottom: 5rem;
    margin-top: 5rem;
    height: 20rem;
    position: relative;
    // clip-path: polygon(0% 0%, 0% 82.5%, 1.694915254237288% 84.32924810718394%, 3.389830508474576% 86.13845458931078%, 5.084745762711864% 87.90779740156158%, 6.779661016949152% 89.61789125382651%, 8.474576271186441% 91.25%, 10.169491525423728% 92.78624191511828%, 11.864406779661017% 94.20978561128001%, 13.559322033898304% 95.50503444585439%, 15.254237288135593% 96.65779740156157%, 16.949152542372882% 97.65544456622767%, 18.64406779661017% 98.48704550874552%, 20.338983050847457% 99.14348903516519%, 22.033898305084747% 99.6175830128416%, 23.728813559322035% 99.90413316894478%, 25.423728813559322% 100%, 27.11864406779661% 99.90413316894478%, 28.8135593220339% 99.6175830128416%, 30.508474576271187% 99.14348903516519%, 32.20338983050848% 98.48704550874552%, 33.898305084745765% 97.65544456622767%, 35.59322033898305% 96.65779740156157%, 37.28813559322034% 95.5050344458544%, 38.983050847457626% 94.20978561128001%, 40.67796610169491% 92.78624191511828%, 42.3728813559322% 91.25%, 44.067796610169495% 89.61789125382651%, 45.76271186440678% 87.90779740156158%, 47.45762711864407% 86.13845458931078%, 49.152542372881356% 84.32924810718394%, 50.847457627118644% 82.5%, 52.54237288135593% 80.67075189281607%, 54.23728813559322% 78.86154541068922%, 55.932203389830505% 77.09220259843842%, 57.6271186440678% 75.3821087461735%, 59.32203389830509% 73.75%, 61.016949152542374% 72.21375808488173%, 62.71186440677966% 70.79021438871999%, 64.40677966101696% 69.49496555414561%, 66.10169491525424% 68.34220259843843%, 67.79661016949153% 67.34455543377233%, 69.49152542372882% 66.51295449125449%, 71.1864406779661% 65.85651096483481%, 72.88135593220339% 65.38241698715841%, 74.57627118644068% 65.09586683105522%, 76.27118644067797% 65%, 77.96610169491525% 65.09586683105522%, 79.66101694915254% 65.38241698715841%, 81.35593220338983% 65.85651096483481%, 83.05084745762711% 66.51295449125449%, 84.7457627118644% 67.34455543377233%, 86.44067796610169% 68.34220259843842%, 88.13559322033899% 69.49496555414561%, 89.83050847457628% 70.79021438871997%, 91.52542372881356% 72.21375808488172%, 93.22033898305085% 73.75%, 94.91525423728814% 75.3821087461735%, 96.61016949152543% 77.09220259843842%, 98.30508474576271% 78.8615454106892%, 100% 80.67075189281606%, 100% 0%);

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}